element.style {undefined}

.animated {
    width: 200px;
    /*-webkit-animation: idleimage 3s ease infinite;
    -moz-animation: idleimage 3s ease infinite;*/
}

.slice {
    background: transparent url("http://files.newsnetz.ch/css/images/bg_SB_repXY.png") repeat scroll left top;
    margin-bottom: 3px;
    width: 637px;
    margin-left: 1px;
}

#topNav .productNav form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
}

a+b{ color: lightskyblue; }

#globalheader[lang="en-US"] .gh-tab-store .gh-tab-link {
    width: 2.16667em;
    border: 1px solid red !important;
}

#abc, .abc, a+b, a ~b, a~ .b, a .b, a.b, a[id ~= b], a[id  *= b ], a::after {
    color: red;
}

::-webkit-scrollbar-track:hover {
    color: green;
}

#globalheader[lang="en-US"] .gh-tab-store .gh-tab-link{width:2.16667em}
#abc, .abc, a+b, a ~b, a~ .b, a .b, a.b, a[id~=b], a[ id *= b ], a::after {
    color: red;
}
::-webkit-scrollbar-track:hover {
    color: green;
}